#body{
    background-color: aqua;
}
.logo{
    width: 60px;
    border-radius: 30px;
    margin: 8px;
    
}
.head{
    border: 1px solid black;
    height:80px;
    display: flex;
    justify-content: space-between;
    margin: 12px;
    background-color: rgb(5, 76, 76);
}
.nav > ul{
    display: flex;
}
.nav > ul >li{
    list-style-type: none;
    padding: 10px;
    font-weight: 600;
    color: white;
}

.cards{
    width: 208px;
    height: 350px;
    padding: 8px;
    /* border: 1px solid black; */
    box-shadow: 4px 4px 4px 4px grey;
    margin: 12px;
    border-radius: 16px;
}
.cards > img{
    width:100%;
    height: 140px;
    border-radius: 16px;
}
.RestruantList{
    display: flex;
    flex-wrap: wrap;
}
.img-shimmer{
    width:100%;
    height: 140px;
}

a{
    /* color: white; */
    text-decoration: none;
}
li > a{
    color: white;
}
.search-div {
    text-align: center;
    max-width: 100%;
    margin: 20px auto 20px;
    /* position: relative; */
}
.search-div .srch {
    width: 40%;
    box-sizing: border-box;
    color: var(--text-color);
    background-color: #fff;
    border: 1px solid #aabcca;
    border-right: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;
    padding: 14px 15px 14px 20px;
    box-shadow: 1px 2px 4px rgba(0,0,0,.08);
}
.search-div .search-btn {
    background-color: #d42626;
    color: white;
    cursor: pointer;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    outline: none;
    margin-left: -4px;
    padding: 15px 22px;
    box-shadow: 1px 2px 4px rgba(0,0,0,.08);
}
.repo-box{
    padding:8px;
    border: 1px solid black;
    border-radius: 16px;
    height: 120px;
    width: 350px;
    background-color: rgb(70, 41, 41)
    
}
.repo-box:hover{
    box-shadow: 8px 8px grey;
    background-color:
}
.repo-name{
    font-size: larger;
    font-weight: 700;
    color: #d42626;
}
.repo-full-name{
    color:rgb(80, 205, 236);
}
.repo-status{
    color: white;
}
.repo-main-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}